body {
   background-image: url("/static/img/footer_lodyas.png");
   background-repeat: repeat-x;
}

table {
    border: 1px solid black;
    table-layout: fixed;
    text-align: center;
}

.header {
    text-align: center;
    width: 90%;
    background: #FFFFFF;
    margin: auto;
    padding: 10px;
}

.page {
    background: #FFFFFF;
    margin: auto;
    width: 90%;
    border: 3px solid black;
    padding: 10px;
}

.page h1 {
    text-align: center;
}
