{% extends "layout.html" %}

{% block body %}

<div class="page-header">
    <h1>{{ check }}</h1>
    <p>{{ desc }}</p>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">History</h3>
            </div>
            <div class="panel-body">
                <div id="chart" style="height:300px;">
                    <svg></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Table</th>
              </tr>
            </thead>
            <tbody>
                {% for row in tables %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <!-- TODO: Fix this hyperlinking with real data -->
                        <button type="button" class="btn btn-xs- btn-default" onclick="location.href='/inspect/dev/users/{{ row }}';">
                            {{ row }}
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Time</th>
                <th>Mode</th>
                <th>Partition</th>
                <th>Return Code</th>
                <th>Violations</th>
                <th>Severity</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
function convertData() {
    var data = [
    {% for value in history %}
        {
            x:new Date('{{dates[loop.index - 1]}}'),
            y:{{value}}
        }{% if loop.index != history_length %},{% endif %}
    {% endfor %}
    ];

    return [
        {
            values: data,
            key: '{{ check }}',
            color: '{{ colors[loop.index] }}'
        }
    ];
};

nv.addGraph(addGraphTo('#chart svg'));
</script>
{% endblock %}
