{% extends "layout.html" %}

{% block body %}

<div class="page-header">
    <h1>Instances</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">History</h3>
            </div>
            <div class="panel-body">
                <div id="chart" style="height:300px;">
                    <svg></svg>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Status</th>
                <th>Tests Run</th>
                <th>Violations</th>
              </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <button type="button" class="btn btn-xs- btn-default" onclick="location.href='/inspect/{{ row[0] }}';">
                            {{ row[0] }}
                        </button>
                    </td>
                    <td>
                        <h4>
                        {% if row[1] == 1 %}
                            <span class="label label-sucess">
                                Passing
                            </span>
                        {% else %}
                            <span class="label label-danger">
                                Failing
                            </span>
                        {% endif %}
                        </h4>
                    </td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
function convertData() {
{% for row in history %}
    var {{ data[loop.index - 1][0] }} = [
    {% for value in row %}
        {x:{{loop.index}}, y:{{value}}}{% if loop.index != history_length %},{% endif %}
    {% endfor %}
    ];
{% endfor %}

    return [
        {% for row in history %}
        {
            values: {{ data[loop.index - 1][0] }},
            key: '{{ data[loop.index - 1][0] }}',
            color: '{{ colors[loop.index] }}'
        } {% if loop.index != numvals %},{% endif %}
        {% endfor %}
    ];
};

nv.addGraph(addGraphTo('#chart svg'));
</script>
{% endblock %}
