{% extends "layout.html" %}
{% block body %}
<h1>Instances</h1>
<table class=reporttable>
    <tr>
        <td style="width:8%">Name</td>
        <td style="width:12%">Status</td>
        <td style="width:20%">Tests Run</td>
        <td style="width:10%">Violations</td>
    </tr>
    {% for row in data %}
    <tr>
        <td style="width:8%"><a href="/inspect/{{ row[0] }}">{{ row[0] }}</a></td>
        <td style="width:12%">{% if row[1] == 1 %}Passing{% else %}Failing{% endif %}</td>
        <td style="width:20%">{{ row[2] }}</td>
        <td style="width:10%">{{ row[3] }}</td>
    </tr>
    {% endfor %}
</table>

<div id="chart">
    <svg></svg>
</div>

<script>
function convertData() {
{% for row in history %}
    var {{ data[loop.index - 1][0] }} = [
    {% for value in row %}
        {x:{{loop.index}}, y:{{value}}}{% if loop.index != history_length %},{% endif %}
    {% endfor %}
    ];
{% endfor %}

    return [
        {% for row in history %}
        {
            values: {{ data[loop.index - 1][0] }},
            key: '{{ data[loop.index - 1][0] }}',
            color: '{{ colors[loop.index] }}'
        } {% if loop.index != numvals %},{% endif %}
        {% endfor %}
    ];
};

data = convertData();

nv.addGraph(addGraphTo('#chart svg'));
</script>
{% endblock %}
